.buttonLink--call-to-action__button {
    display: flex;
    justify-content: flex-end;
    align-items:center;
    background-color: green;
    border: none;
    color: yellow;
    align-content: center;
    padding-top: 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 10%;
    height: auto; /*de ambos */
    bottom: 40px;
    left: 70px;
    z-index: 995;
    transform: rotate(45deg);
    translate:global(buttonLink--call-to-action__button) ;
}

.buttonLink--call-to-action__button:hover {
    background-color: yellow;
    color: green;
    border-style:solid;
    border-color: green;
    border-radius: 10%;
    z-index: 999;
}