/* .sliderLayoutContainer--home__slider {
    max-width: 100vh;
    margin:0 auto 50px;
} */
.paginationDotsContainer--home__slider {
    transform: translateY(20px);
}
.imageElement {
    max-height: initial !important;
}
/* .paginationDotsContainer */
/* .sliderLayoutContainer--home__sliderhome_slider */
/* .imageElement--home__slider */