.newsletterForm--form-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10%;
}

.formSubmitContainer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.confirmationCheckboxContainer {
    display: flex;
    justify-content: center;
}