/* .buttonLink--call-to-action__button {
    position: absolute;
    /* display: flex;
    justify-content: flex-end; */
    /* width: 10%; */
    background-color: white;
    /* Green 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 50%;
}

.buttonLink--call-to-action__button:hover {
    background-color: black;
    color: white;
    border-color: white;
}

.label--call-to-action__button {
    /* position: relative; */
    /* display: flex;
    justify-content: flex-end; */
    /* width: 10%; */
    background-color: white;
    /* Green 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 50%;
}

.label--call-to-action__button:hover{
    background-color: black;
    color: white;
    border-color: white;
}

.link--call-to-action__button {
    /* z-index: 2;
    position: absolute; */
    background-color: white;
    /* Green 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 50%;
}

.link--call-to-action__button:hover {
    background-color: black;
    color: white;
    border-color: white;
} */
/* .vtex-store-link-0-x-link--call-to-action__button {
    position: absolute;
    display: flex;
    justify-content: flex-start;
} */