.cartIcon {
    width: 80px;
    height: 80px;
    border-style: none;
    color: transparent;
    background-size: contain;
    background-image: url(assets/img/shopping-cart.png);
    object-fit: contain;
}

.openIconContainer {
    width: 90px;
    height: 90px;
    object-fit: contain;
}

.openIconContainer:hover {
    background-color: transparent;
}

.cartIcon:hover {
    background-color: transparent;
}