.videoElement--video-home {
    /* border-color: black; */
    border-style: none;
    /* z-index: 1; */
}

/* .videoContainer--video-home {
    /* z-index: 1;
} */
/* @media (max-width: 600px) {
    .videoElement--video-home {
        height: 300px !important;
    }
} */

@media (max-width: 600px) {
    .videoContainer--video-home {
        height: 160px !important; 
        width: 400px !important;
    }
}
