.container--header-promo {
    display: flex;
    justify-content: center;
}

.paragraph--header-promo {
    font-size:x-large;
    font-weight:500
}

.container--text-contact {
    display: flex;
    justify-content: center;
}

.container--text-department {
    display: flex;
    justify-content: center;
    color: #085DA8;
}
.headingLevel2--text-department {
    font-size:xx-large;
}