.container--header-promo {
    display: flex;
    justify-content: center;
    /* text-align: center; */
}

.paragraph--header-promo {
    font-size:x-large;
    font-weight:500
}

.container--text-contact {
    display: flex;
    justify-content: center;
}