.flexCol--home__section {
    height: auto;
}

.flexColChild--home__section--one-a {
    margin: 5%;
    /* object-fit: contain; */
}
.flexColChild--home__section--one-b {
    margin: 5%;
    /* object-fit: contain; */
}

.home__section--call-to-action {
margin-top: 20%;
}

.flexRowContent--home__section-whatsapp-and-minicart {
    display: flex;
    flex-direction: column;
}

.flexRow--home__section-whatsapp-and-minicart {
    position: fixed;
    bottom: 1.6rem;
    right: 1rem;
}