.imageElementLink--home__image--section-one {
    width: auto;
    display: flex;
    justify-content: center;

}

.flexCol--home__section--one-b {
    width: 90%;
    display: flex;
    justify-content: center;
}
.imageElement--home__image--section-one-item-1 {
    display: flex;
    justify-content: center;
    opacity: 1;
}
.imageElement--home__image--section-one-item-1:hover {
    opacity: 0.8;
}

.imageElement--home__image--section-one-item-2 {
    display: flex;
    justify-content: center;
    opacity: 1;
}

.imageElement--home__image--section-one-item-2:hover {
    opacity: 0.8;
}

.imageElement--home__image--section-one-item-3 {
    display: flex;
    justify-content: center;
    opacity: 1;
}
.imageElement--home__image--section-one-item-3:hover {
    opacity: 0.8;
}

.imageElement--home__image--section-three {
    display: flex;
    justify-content: center;
    object-fit: cover;
}

.imageElementLink--home__image--section-three {
    display: flex;
    justify-content: center;
}

.home__section--three {
    display: flex;
    justify-content: center;
}

.imageElement--home__image--section-two {
    width: 95%;
    display: flex;
    justify-content: center;
    opacity: 1;
}

.imageElement--home__image--section-two:hover {
    opacity: 0.8;
}

.imageElementLink--home__image--section-two {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
    margin-top: 3%;
}

.home__section--two {
    width: 100%;
    display: flex;
    justify-content: center;
}


  /* .imageElement--home__slider {
    object-fit: cover;
  } */