.videoElement--video-contact {
    border-radius: 3%;
}

.videoElement {
    object-fit: cover;
}

.videoElement--video-home {
    height: auto !important;
}

@media (max-width: 600px) {
    .videoContainer--video-home {
        height: 160px !important; 
        width: 400px !important;
    }
}