.container--header-promo {
    display: flex;
    justify-content: center;
    height: 60px;
    align-items: flex-start;
}

.paragraph--header-promo {
    font-size:x-large;
    font-weight:500;
    display: flex;
    /* text-align:start; */
    align-items: flex-start;
    margin-top: 10px;
}